@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#viewport {
  padding-left: 250px;
  display: flex;
  justify-content: center;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

#sidebar {
  z-index: 1000;
  position: absolute;
  bottom: -7%;
  left: 230px;
  width: 250px;
  height: 100vh;
  margin-left: 63%;
  overflow-y: auto;

}

#sidebar header {
  font-size: 20px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: black;
}

.select {
  background: blue;
  color: black;
}